body {
    background-color: #2c2f33;
}


.carousel-control-prev-icon {
    height: 70px;
    width: 70px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    background-color: #121212;
   }
   
.carousel-control-next-icon {
  height: 70px;
  width: 70px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);
  background-color: #121212;
   }


.whitetxt {
    color: white;
}


.mobileInfo {
    color: white;
    display: none;
}


@media only screen and (max-width: 800px) {
    .mobileInfo {
        position: absolute;
      display: inherit;
      background-color: #121212;
      width: 100%;
    }

    .fullscreen {
        display: none;
    }
  }