.Overlay{
    position: fixed;
    background-color: rgba(5, 5, 5, 0.5);
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
   }
   
   
   .Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0); 
   }
   
   
   .card {
      width: 150px;
      height: 150px;
      background-color: white;
       
   }
   
   .card_Content {
       height: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
        
    }