

.modal {
 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  

  .modal-content {
    background-color: #2c2c2c;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 65%; 
    height:  7%;
    color: white;
    
    animation: openModal 0.5s normal forwards;
  }
  
  .ModalTxt{
    opacity: 0%;
    animation: ChangeModalOpacity 1s normal forwards;
  }


  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


  .closeBtn {
     margin-left: 95%;
     border-radius: 50%;
  }


  .FuelTextInfo {
    color: peru;
  }


@keyframes openModal {
  to {
    height: 50%;


  }

}


@keyframes ChangeModalOpacity {
  to {
    opacity: 100%;
  }
}


.customCapacityTxt {
  font-size: 50px;
}

.customCapacityBtn {
  font-size: 30px;

}


.stakeTxtSize {
  font-size: 50px;
}

.StakeDiv {
  width: 350px;
}


.messageToUser {
  font-family: 'Comic Sans MS';
}


@media only screen and (max-width: 800px) {
  .modal {
    position: static;
    display: none;
  }
  .modal-content {
    display:none;
  }
}